
body {
  margin: 0;
}

body, button, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

#header {
  background-color: #515D65;
  color: white;
  padding: 10px;
}

#page {
  padding: 10px;
}

#sidebar {
  float: left;
  margin-right: 20px;
}

#main {
  max-width: 100%;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
